<div class="login-form">
  <div class="login-form-header">
      <h2>
          <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span>
          <span class="space"> </span> <!-- Spațiu între Welcome și back -->
          <span>b</span><span>a</span><span>c</span><span>k</span>
      </h2>
      <img class="logo" src="assets/logo-removebg.png" alt="logo" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="username">Username</label> <!-- Schimbă label-ul în Username -->
          <div class="input-group">
              <i class="fa fa-envelope left-side"></i>
              <input class="form-control"
                  type="text"
                  formControlName="username"
                  id="username"
                  placeholder="Enter username" 
              />
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <div class="input-group">
              <i class="fa fa-lock left-side"></i>
              <input class="form-control"
                  [type]="isPasswordVisible ? 'text' : 'password'"
                  formControlName="password"
                  id="password"
                  placeholder="Enter password"
              />
              <i
                  [ngClass]="isPasswordVisible ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  class="fa fa-eye right-side"
                  (click)="togglePasswordVisibility()"
              ></i>
          </div>
      </div>
      <div class="page-redirect">
         <a routerLink="/register">Don't have an account? Register</a>
      </div>
      <div class="buttons">
          <button type="submit" class="btn btn-primary" [disabled]="!isFormValid">Login</button>
      </div>
  </form>
</div>
<div *ngIf="showPopup" class="popup-container">
    <div class="popup">
      <div class="popup-content">
        <h3>Login Failed</h3>
        <p>Incorrect username or password. Please try again.</p>
        <button class="btn btn-secondary" (click)="togglePopup()">Close</button>
      </div>
    </div>
  </div>