<app-header></app-header>
<div class="about-container">
    
    <div class="about-content">
        <div class="about-title">
            <h1>About Us</h1>
        </div>
            <!-- Secțiunea de descriere -->
    <div class="description">
      <p>
        Welcome to the <strong>Pixel Art Gallery</strong>, where we celebrate the beauty of art in every pixel! 
        Our gallery is a vibrant space dedicated to showcasing unique creations from artists around the world.
      </p>
      <p>
        From classic masterpieces to contemporary digital designs, we aim to connect people with the power of art. 
        Dive into our virtual collection and discover a world of creativity, passion, and inspiration.
      </p>
    </div>

    <!-- Imagini reprezentative -->
    <div class="image-section">
      <img src="/assets/background2.jpg" alt="Gallery Art 1">
      <img src="/assets/background3.jpg" alt="Gallery Art 2">
      <img src="/assets/background4.jpg" alt="Gallery Art 3">
    </div>

    <!-- Valorile și misiunea galeriei -->
    <div class="values-section">

      <h2>Our Values</h2>
      <ul>
        <li>Creativity: Celebrating the boundless imagination of artists.</li>
        <li>Accessibility: Making art available to everyone.</li>
        <li>Community: Fostering connections among art lovers.</li>
      </ul>
    </div>
  </div>
</div>
