.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-image: url('/assets/background2.jpg'); // Adaugă imaginea de fundal
    background-size: cover; // Ajustează dimensiunea imaginii pentru a acoperi întregul element
    background-position: center; // Centrează imaginea de fundal
    background-repeat: no-repeat; // Evită repetarea imaginii de fundal
}
